<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="/css/scss.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Admin</title>
</head>
<body>
    <h1>Admin page</h1>
    <h2>hi Admin</h2>
    <a class="scalehover btn-st"  href="/logout" >logout</a>
</body>
</html>