<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/scss.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <title>UPDATE</title>
</head>
<body>
   <style>

   </style>
   <div class="dj" style="background-color: #fff; height: 70vH;" >
        <div class="dja">
            <div class="dfc textbit" style="color: rgb(69, 69, 158)">
                <span><i class="fa-solid fa-fire"></i></span>
                <h3 class=""><%=servername%> is not available. </h3> 
            </div>
        </div>
   </div>
</body>
</html>