
.modal-block{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .modal-img{
    flex:1;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
  }
  .modal-img-item{
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }
  .vpointimage,
  .vitemimage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
  }
  .info-block{
    flex:1;
    text-align: left;
  }
  .payment{
    display: flex;
    flex-direction: column;
  }
  .info-profile{
    flex:1;
    text-align: left;
    padding: 1rem;
  }
  .blockform{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .formline-modal{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }
  .formline-modal label{
    font-size: 1rem;
    color: var(--theme);
    font-weight: 700;
    flex: 1;
    padding: .5rem 0rem;
  }
  .formline-modal select,
  .formline-modal input{
    font-size: 1rem;
    padding: .5rem;
    flex: 1;
    background-color: #eee;
    text-align: left;
    width: 100%;
  }
  .formline-profile select,
  .formline-profile input{
    font-size: 1rem;
    flex: 1;
    background-color: #eee;
    text-align: left;
    width: 100%;
  }
  .formline-profile {
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }
  .formline-profile label{
    font-size: 1rem;
    color: var(--theme);
    font-weight: 700;
  }
  .formline-profile span{
    font-size: 1rem;
    padding: 1rem 0rem;
  }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
      margin: 8% auto;
      width: 50%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
      animation-name: modalopen;
      animation-duration: 0.5s;
    }
    
    .modal-header h2,
    .modal-footer h3 {
      margin: 0;
    }
    
    .modal-header {
      background: #fff;
      padding: 15px;
      color: var(--theme);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    
    .modal-body {
      /*padding: 10px 20px;*/
      background: #fff;
    }
    
    .modal-footer {
      background: #fff;
      padding: 10px;
      color: var(--theme);
      text-align: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
    .close {
      color: var(--theme);
      float: right;
      font-size: 30px;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .ratingscore-image{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ratingscore-image span{
      font-weight: 700;
      font-size: 1rem;
    }
    .ratingscore-profile{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      background-color:#fff; 
      width: 100%; 
      margin-left:0.5rem ;
  }

 
  .vitem-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    @keyframes modalopen {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  .descriptionline,
  .formline {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }
  .descriptionline input{padding: 0rem;}
  .descriptionline label,
  .formline label{
    font-weight: 700;
    color: var(--theme);
    padding-top: 2rem;
  }
  .grid-list{
    border-bottom: 1px solid #ccc;
  }
  .client-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid #ccc;
    flex: 1;
    width: 100%;
    text-align: center;
  }
  .client{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    border-bottom: 1px solid #eee;
    flex: 1;
    width: 100%;
  }
  .grid-name{
    
    padding: 0.5rem 0rem;
  }
  .payment-item{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
  }
  .payment-item label{
    font-size: 1rem;
    flex: 1;
    padding: .5rem 0rem;
  }
  .payment-item span{
    font-size: 1rem;
    padding: .5rem 1rem;
    flex: 1;
  }
  
    @media(max-width:1000px){
      .vitem-display{ flex-direction: column;}
      .formcreate, .modal-body{width: 100%}
      .modal-block{
        flex-direction: column;
      }
      .modal-content{
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .info-block,
      .info-profile{
        padding: 2rem 0rem;
      }
      .modal-img{
        margin-right: 0rem;
      }
      .blockform{
        display: flex;
        flex-direction: column;
      }
    }
    
    @media(max-width:800px){
      .vitem-display{ flex-direction: column;}
      .formcreate, .modal-body{width: 100%}
      .modal-block{
        flex-direction: column;
      }
      .modal-content{
        margin-top: 12rem;
        width: 100%;
      }
      .info-block,
      .info-profile{
        padding: 2rem 0rem;
      }
      .modal-img{
        margin-right: 0rem;
      }
    }
  