
    <div class="footerblock ">
        <div class="footeritem">
            <div class="f-item">
                <div class="f-item-title">Link</div>
                <ul class="df">
                    <li><a href="<%=servername%>" title=""  class="">Denise Yomi Stiftung</a></li>
                </ul>
                <div class="f-item-title" style="margin-top:2rem;">Soziale Netzwerke</div>
                <div class="follow">
                    <!--<a href="#" class="btn-social"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-facebook"></i></a>-->
                    <!--<a href="#" class="btn-social"><i class="zmdi zmdi-hc-2x zmdi-hc-fw zmdi-twitter"></i></a>-->
                    <a href="https://www.facebook.com/search/top?q=dy%20hilfestiftung" target="_blank" class="btn-social"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" class="btn-social"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/" target="_blank" class="btn-social"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" class="btn-social"><i class="fa-brands fa-youtube"></i></a>
                    <!--<a href="#" class="btn-social"><i class="fa fa-2x fa-fw fa-vimeo"></i></a>-->
                </div>
            </div>
            <div class="f-item">
                <div class="f-item-title" id="Kontakt">Kontakt</div>
                <div class="df" >
                    <div class="f-block">
                        <i class="fas fa-envelope"></i>
                        <label style="padding: 0rem 2rem; color:#fff">dub-beratungsstelle@gmail.com</label>
                    </div>
                    <div class="f-block">
                        <i class="fas fa-map-marker-alt"></i>
                        <label style="padding: 0rem 2rem; color:#fff"> 14050 Berlin</label>
                    </div>
                    <div class="f-block">
                        <i class="fas fa-phone"></i>
                        <label style="padding: 0rem 2rem; color:#fff"> +49 178 477 6334</label>
                    </div>
                </div>
            </div>
            <div class="f-item">
                <div class="f-item-title">Webmaster</div>
                <div class="">
                    <ul class="df">
                        <li><a href="https://investlegions.com" class="internal-link">Investlegions</a></li>
                        <li><a href="https://kenffy-blog.web.app" class="internal-link">Kenffy-blog </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom df box">
        
        <div class="footer-info">
            <!--
            <ul class="footer-bottom-item dja">
                <li><a href="/">Impressum</a></li>
                <li><a href="/">Datenschutz</a></li>
                <li><a href="/">Sitemap</a></li>
            </ul>
            -->
        </div>
        
        <div class="copyright dfc" > 
            <div>&copy; 
               <label  id="copyright">copyright 2023 by </label>
               <span><a href="/login" style="color: #eee;">Investlegions</a></span>
               <label>All Rights Reserved.</label> 
            </div>
         </div>
    </div>
