<header class="header-top box">

       <div class="navbar dja fade-up">
 
          <div><a href="#home" class=" title">DYStiftung</span></a></div>
        <!--
            <nav class="nav">
             <a class="scalehover" href="#home" >Home</a>
             <a class ="scalehover" href="#about">Us</a>
             <a class ="scalehover" href="#reviews">Network</a>
             <a class ="scalehover" href="#process">Process</a>
             <a class ="scalehover" href="#services">Services</a>
            </nav>
            -->
          
            <div>
              <!--<a href="/login" id="login" class="btn-first ">login</a>-->
              <a href="#spenden" id="login" class="btn-thrid">Jetzt spenden</a>
            </div>
          
         
       </div>

    <div class="header-body">
        <div class="menu" >
            <ul class="nav-item">
                <li><a href="/">AKTUEL</a></li>
                <li><a href="/">STIFTUNG</a></li>
                <li><a href="/">HILFE</a></li>
                <li><a href="/">VERMITTLUNG</a></li>
                <li><a href="/">STIPENDIEN</a></li>
                <li><a href="/">BEWERTUNG</a></li>
            </ul>
        </div>
    </div>
    <!-- Slider main container -->
    
   
 </header>